In [39]:
import pandas as pd
import numpy as np
import os
import re

In [54]:
#get data
cur_path = os.getcwd()
result_path = 'WidewallsData'
bio_file = 'widewalls_bios.csv'
name_file = 'widewalls_names.csv'
bio_path = os.path.join(cur_path,result_path,bio_file)
name_path = os.path.join(cur_path,result_path,name_file)
bio_df = pd.read_csv(bio_path)
name_df = pd.read_csv(name_path)
# drop all incomplete 
#df = df.dropna(axis=0)
#df = df.reset_index(drop=True)
#df.tail()
name_df

      Unnamed: 0       artist_names
0              0         Javier Rey
1              1     Hunter & Gatti
2              2      Markus Klinko
3              3      Terry O'Neill
4              4       Arslan Sukan
...          ...                ...
2695        2695        Marcel Giro
2696        2696  Quentin Carnaille
2697        2697           Dan Teis
2698        2698     Thomas Kinkade
2699        2699      Astolfo Funes

[2700 rows x 2 columns]

In [68]:
#merge name and bio
new_df = name_df.set_index('Unnamed: 0').join(bio_df.set_index('Unnamed: 0'))
new_df = name_df.merge(bio_df, on='Unnamed: 0', how='inner')
#new_df = new_df.iloc[:,1:]
new_df.columns = [['id','artist_name', 'artist_bio']]

0       Columbian photographer Javier Ray creates work...
1       Hunter & Gatti is a creative duo consisting of...
2       Markus Klinko is an award-winning celebrity ph...
3       Terry O'Neill was an English photographer. He ...
4       Trained in interior architecture and photograp...
                              ...
2695    Marcel Giró was a Spanish-born photographer an...
2696    Quentin Carnaille is a French contemporary art...
2697    Dan Teis was an American arts administrator, e...
2698    Thomas Kinkade was a well-known American artis...
2699    Astolfo Funes is a Venezuelan contemporary art...
Name: (artist_bio,), Length: 2700, dtype: object

In [69]:
result = new_df.loc[~new_df.iloc[:,2].str.contains('details will be forthcoming',na=True)]
len(result)

2591

In [72]:
clean_file_name = 'CleanedWidewallsData.csv'
filepath = os.path.join(cur_path,result_path,clean_file_name)
result.to_csv(filepath, index=False)